#about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: $second-bg-color;
    .about-img{
        img{
            width: 32vw;
            border-radius: 50%;
            background-color: $main-color;
            box-shadow: 0 0 25px $main-color;
            transition: 0.4s ease-in-out;
            &:hover{
                box-shadow: 0 0 25px $main-color,
                                0 0 50px $main-color,
                                0 0 100px $main-color;
            }
        }
    }
    .about-content{
        h2{
            font-size: 7rem;
            text-align: left;
        }
        p{
            font-size: 1.8rem;
        }
    }
    .btn{
        margin: 3rem 0;
    }
}