footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: $bg-color;
    .social{
        text-align: center;
        padding-bottom: 25px;
        color: $main-color;
        a{
            font-size: 25px;
            color: $main-color;
            border: 2px solid $main-color;
            width: 42px;
            height: 42px;
            line-height: 42px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin: 0 10px;
            transition: 0.3s ease-in-out;
            &:hover{
                transform: scale(1.2)translateY(-10px);
                background-color: $main-color;
                color: black;
                box-shadow: 0 0 25px $main-color;
            }
        }
    }
    ul{
        margin-top: 0;
        padding: 0;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
        li{
            display: inline-block;
            padding: 0 15px;
            a{
                color: white;
                border-bottom: 3px solid transparent;
                transition: 0.3s ease-in-out;
                &:hover{
                    border-bottom: 3px solid $main-color;
                }
            }
        }
    }
    p{

    }
}